---
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CSS Typography</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CSS Typography">
  
  <link rel="stylesheet" href="css/main.css">

</head>
<body>

<div class="container">

  <header>
    <h1>CSS Typography</h1>
  </header>




  <table>
    <thead>
      <tr>
        <th class="property">Property</th>
        <th class="values">Values</th>
        <th class="values">Example</th>
      </tr>
    </thead>

    <tbody>
      {% for property in site.data.properties.properties %}


      <!--  -->
      {% for value in property.values limit: 1 %}
      <tr>
        <td class="property" rowspan="{{ property.values | size }}">
          <code>{{property.property}}</code>
        </td>

        <td class="values" rowspan="1">
          <code>{{value}}</code>
        </td>
        <td class="example">
          {% if property.contrast_example %}
          <span>{{property.contrast_example}}</span>
           {% endif %}
          <span style="{{property.property}}: {{value}}">The quick brown fox jumped over the lazy dog</span>
        </td>
  
      </tr>
      {% endfor %}
      {% for value in property.values offset: 1 %}
      <tr>
        <td class="values" rowspan="1">
          <code>{{value}}</code>
        </td>
        <td class="example">
          <span style="{{property.property}}: {{value}}">The quick brown fox jumped over the lazy dog</span>
        </td>
        
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>


  <!-- <tr>
    <td class="property">{{property.property}}</td>
    <td class="values">
      {% for value in property.values %}
      <span style="{{property.property}}: {{value}}">{{value}}</span> <span class="value-divider">|</span>
      {% endfor %}
    </td>
  </tr> -->




</div>



</body>
</html>
